datasets:
    sequence-size: 3 # must be >= 2
    kitti:
      root-path-sync: "datasets/KITTI/sync"
      root-path-unsync: "datasets/KITTI/extract"
      train:
        #2011-10-03: [27, 42, 34]
        2011-09-30: [16, 27] # [16, 18, 20, 27, 28]
      test:
        2011-09-30: [16, 27]
        2011-09-26: [23, 39]
        2011-10-03: [27]
      validation:
        2011-09-26: [23, 39]

      # channesl: x, y, z, range(x,y,z), remissions)
      mean-imu: [-0.0635, 0.186, 9.7966, 0., 0.0005, 0.0082]
      std-imu: [0.8525, 0.9516, 0.3401, 0.0198, 0.02204, 0.1383]

arch:
  name: "deepio" # [deepio]
  dropout: 0.25
  feature-net:
    name: "deepio1" # [deepio0, deepio1]
    input-size: 6
    hidden-size: [512, 512]
    num-layers: 2
    dropout: 0.25
    bidirectional: true


losses:
  active: 'lwsloss'
  hwsloss:
    params:
      learn: true
      sx: 0.
      sq: -2.5
  lwsloss:
    params:
      beta: 1125.
  geoloss:
    params:


current-dataset: 'kitti'
channels: [3, 4] # channesl: x=0, y=1, z=2, range(x,y,z)=3, remissions=4
optimizer: 'adam'




